<div class="box">
  <h1>Area do Farmaceutico</h1>
  <p>Cadastre-se</p>

  <form class="form-box" [formGroup]="form" (ngSubmit)="cadastrar()">
    <input
      formControlName="nome"
      placeholder="Nome"
      type="text"
      maxlength="64"
    />
    <input formControlName="cpf" placeholder="Cpf" type="text" maxlength="14" />

    <input
      formControlName="dataNascimento"
      placeholder="Data de Nascimento"
      type="date"
    />
    <input
      formControlName="promocaododia"
      placeholder="Promocao do dia"
      type="text"
    />
    <button type="submit" [disabled]="!form.valid">Cadastrar</button>
    <hr />
    <h2>Meus Farmaceutico</h2>
    <table class="tabelinha">
      <tr>
        <th>Nome</th>
        <th>Data de Nascimento</th>
        <th>Idade</th>
        <th>CPF</th>
        <th>PromocaodoDia</th>
        <th>Ações</th>
      </tr>
      <tr *ngFor="let Farmaceutico of list">
        <td>{{ Farmaceutico.nome }}</td>
        <td>{{ Farmaceutico.aniver | date: "dd/MM/yyyy" }}</td>
        <td>{{ Farmaceutico.idade }}</td>
        <td>{{ Farmaceutico.promocaododia }}</td>

        <td>
          <button class="botao1" (click)="editar(Farmaceutico)">Editar</button>
          <button class="botao" (click)="deletar(Farmaceutico.id)"></button>
        </td>
      </tr>
    </table>
  </form>
</div>
