<div class="box">
  <h1>Area do Produto</h1>
  <p>Novos Produtos</p>
  <form class="form-box" [formGroup]="form" (ngSubmit)="cadastrar()">
    <input
      formControlName="nome"
      placeholder="Nome"
      type="text"
      maxlength="64"
    />
    <input formControlName="valor" placeholder="valor" type="text" />

    <button type="submit" [disabled]="!form.valid">Cadastrar</button>
  </form>
  <hr />
  <h2>Meus produtos</h2>
  <ul>
    <li *ngFor="let Produto of list">
      <span>{{ Produto.nome }} </span>
      <span>{{ Produto.valor }} </span>
    </li>
  </ul>
</div>
