<div class="box">
  <h1>Area do Cliente</h1>
  <p>Novos Clientes</p>
  <form class="form-box" [formGroup]="formCliente" (ngSubmit)="cadastrar()">
    <input
      formControlName="nome"
      placeholder="Nome"
      type="text"
      maxlength="64"
    />
    <input formControlName="cpf" placeholder="Cpf" type="text" maxlength="14" />
    <input
      formControlName="email"
      placeholder="Email"
      type="email"
      maxlength="32"
    />
    <input
      formControlName="dataNascimento"
      placeholder="Data de Nascimento"
      type="date"
    />
    <button type="submit" [disabled]="!formCliente.valid">Cadastrar</button>
  </form>
  <p>{{ formCliente.getRawValue() | json }}</p>
  <p>Form valido: {{ formCliente.valid ? "Sim" : "Não" }}</p>
</div>
